{% extends "layout.twig" %}

{% block title_page %}
    Gestor de Pedidos
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Gestor de Pedidos</li>
{% endblock %}

{% block links %}
<button type="button" data-target="#modal-new-order" class="btn btn-success btn-new label-left">
    <div class="btn-label">
        <i class="ti-plus"></i>
    </div>
    Novo
</button>
{% endblock %}

{% block modals %}

{% include "pages/orders/_new.twig" with {
    list_type_payment: list_type_payment,
    list_status_order: list_status_order,
    consumers: consumers
} %}

{% endblock %}

{% block main %}

{% include "helpers/_totais-price.twig" with {
    finish: true,
    totals: totalsPrice
} %}

{% include "pages/orders/_search.twig" with {
    list_status_order: list_status_order,
    list_type_payment: list_type_payment
} %}

<div class="content-box-paginate">
    {% include folder_paginate_box() with{
        folderList: "pages/orders/_list.twig",
        list: list,
        paramsList: {
            list: list.results,
        },
        urlPaginate: urlPaginate
    } %}
</div>

{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{{asset('plugins/choices/choices.min.css')}}">
    <script src="{{asset('plugins/choices/choices.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            var choiceSelect = new Choices(document.getElementById('choices-single-default'));
            $(".btn-new").on("click",function(){
                var target = $(this).data("target");
                $(target).find(".info-new").fadeIn();
                $(target).find('[name="id_consumer"]').val("");
            });
        });

        function selectConsumer(el){
            var val = $(el).val();
            $("#modal-new-order").find(".info-new").find("input").val("");
            if (val == null || val == undefined || val == ""){
                $("#modal-new-order").find(".info-new").fadeIn();
            }else{
                $("#modal-new-order").find(".info-new").fadeOut();
            }
        }

    </script>
{% endblock %}