{% import 'forms.twig' as forms %}

<div class="row">
    <div class="col-xs-12">
        <h5>Mensal</h5>
    </div>
    <div class="col-md-6 col-xs-12 form-group">
        <label for="">Valor</label>
        <input type="text" class="form-control money" name="valor1" required>
    </div>
    <div class="col-md-6 col-xs-12 form-group">
        {{forms.label('Valor com Desconto')}}
        <input type="text" class="form-control money" name="valordesc1">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h5>Trimestral</h5>
    </div>
    <div class="col-md-6 col-xs-12 form-group">
        <label for="">Valor</label>
        <input type="text" class="form-control money" name="valor2" required>
    </div>
    <div class="col-md-6 col-xs-12 form-group">
        {{forms.label('Valor com Desconto')}}
        <input type="text" class="form-control money" name="valordesc2">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h5>Anual</h5>
    </div>
    <div class="col-md-6 col-xs-12 form-group">
        <label for="">Valor</label>
        <input type="text" class="form-control money" name="valor3" required>
    </div>
    <div class="col-md-6 col-xs-12 form-group">
        {{forms.label('Valor com Desconto')}}
        <input type="text" class="form-control money" name="valordesc3">
    </div>
</div>