<div class="modal fade" id="modal-crop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <input type="hidden" name="parent_form" value="{{parent_form}}">
    <input type="hidden" name="width">
    <input type="hidden" name="height">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Cortar Imagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-9">
                            <img id="image">
                        </div>
                        <div class="col-md-3">
                            <h5 style="margin-left: 10px;" class="font-weight-bold">Preview:</h5>
                            <div class="preview"></div>
                            <div style="margin-left: 10px;" id="actions-cropper">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" data-method="rotate" onclick="rotate(-45)">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="Girar -45%">
                                            <span class="ti-back-left"></span>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-primary" data-method="rotate" onclick="rotate(45)">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="Girar 45%">
                                            <span class="ti-back-right"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger label-left" data-dismiss="modal">
                    <div class="btn-label">
                        <i class="ti-close"></i>
                    </div>
                    Cancelar
                </button>
                <button type="button" class="btn btn-success label-left ml-0-75" id="crop">
                    <div class="btn-label">
                        <i class="ti-save"></i>
                    </div>
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>