{% import "forms.twig" as forms %}

<form class="modal fade form-file" data-url="consumidores/obs" id="modal-obs">
    <input type="hidden" name="ref">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Observações</h3>
                <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{forms.label("Selecione uma opção:")}}
                    <select onchange="selectObs(this);" name="obs_id" class="form-control text-uppercase" required>
                        <option value="">-- Selecione --</option>
                        {% for item in observacoes %}
                        <option value="{{item.id}}">{{item.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="show-date form-group">
                    {{forms.label("Data:")}}
                    <input type="datetime-local" class="form-control" name="date_obs">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div>
                    <button type="reset" class="btn btn-danger label-left" data-dismiss="modal">
                        <div class="btn-label">
                            <i class="ti-close"></i>
                        </div>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success label-left">
                        <div class="btn-label">
                            <i class="ti-save"></i>
                        </div>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>