{% import 'forms.twig' as forms %}

<div class="modal fade" id="modal-info-message">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Mensagem</h3>
                <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <label class="font-weight-bold mb-0-5" for="">Mensagem Enviada</label>
                <div class="get-message" style="padding: 10px;background:#f2f2f2;"></div>
            </div>
        </div>
    </div>
</div>