{% extends "email/base_email.twig" %}

{% block title %}{{title}}{% endblock %}

{% block main %}
<div style="position : relative;z-index: 1;padding: 20px;padding-bottom:30px;padding-top : 15px; background: #fff;box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);border-radius: 8px;border-top-left-radius:0px;border-top-right-radius:0px">

    <fieldset style="border: 1px solid #bababa; text-align: left;margin-top: 0px">
        <legend style="letter-spacing: -1px; margin: 0 0 2px 0; line-height: 33px; text-align: left;font-size: 14px;text-transform: uppercase;">
            <strong>Mensagem</strong>
        </legend>
        <span style="text-align: justify; display: block; margin: 0px 0 10px 0; line-height: 25px;font-size : 15px">
            {% if message is not empty %}
                <div>{{message|raw}}</div>
            {% else %}
                <div>Nada Informado</div>
            {% endif %}
        </span>
    </fieldset>

</div>
{% endblock %}